src/n8n/workflows/Taris - Campaign Select.json
{
  "name": "Taris - Campaign Select",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "taris-campaign-select",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        96,
        320
      ],
      "webhookId": "taris-campaign-select-wh"
    },
    {
      "parameters": {
        "jsCode": "\n// DEMO DATA — replace with Google Sheets node when OAuth credential is refreshed\n// Credential to fix: j36NScu4bpqsYJKT \"Google Sheets account 3\"\ntry {\n  const demoClients = [\n    { \"Имя\": \"Алексей Петров\", \"Email\": \"alex.petrov@example.com\", \"Компания\": \"ТехноАвтоматизация\", \"Интересы\": \"IT, автоматизация\" },\n    { \"Имя\": \"Марина Соколова\", \"Email\": \"m.sokolova@example.com\", \"Компания\": \"МедиаМаркетинг\", \"Интересы\": \"маркетинг, контент\" },\n    { \"Имя\": \"Дмитрий Кузнецов\", \"Email\": \"d.kuznetsov@example.com\", \"Компания\": \"СтройИнвест\", \"Интересы\": \"строительство, инвестиции\" },\n    { \"Имя\": \"Анна Иванова\", \"Email\": \"a.ivanova@example.com\", \"Компания\": \"ФинтехПлюс\", \"Интересы\": \"финансы, стартапы\" },\n    { \"Имя\": \"Сергей Новиков\", \"Email\": \"s.novikov@example.com\", \"Компания\": \"АгроПром\", \"Интересы\": \"сельское хозяйство, экспорт\" },\n    { \"Имя\": \"Елена Морозова\", \"Email\": \"e.morozova@example.com\", \"Компания\": \"EduTech\", \"Интересы\": \"образование, EdTech\" },\n    { \"Имя\": \"Павел Волков\", \"Email\": \"p.volkov@example.com\", \"Компания\": \"КиберЗащита\", \"Интересы\": \"кибербезопасность, IT\" },\n    { \"Имя\": \"Ольга Лебедева\", \"Email\": \"o.lebedeva@example.com\", \"Компания\": \"GreenEnergy\", \"Интересы\": \"энергия, ESG\" },\n    { \"Имя\": \"Иван Козлов\", \"Email\": \"i.kozlov@example.com\", \"Компания\": \"LogisticsPro\", \"Интересы\": \"логистика, поставки\" },\n    { \"Имя\": \"Татьяна Смирнова\", \"Email\": \"t.smirnova@example.com\", \"Компания\": \"HealthAI\", \"Интересы\": \"медицина, AI, данные\" },\n    { \"Имя\": \"Станислав Ульмер\", \"Email\": \"stas.ulmer@gmail.com\", \"Компания\": \"LR Health\", \"Интересы\": \"здоровье, LR продукты, вебинары\" }\n  ];\n  return demoClients.map((c, i) => ({ json: { ...c, _idx: i } }));\n} catch(e) {\n  return [{ json: { _error: true, step: \"Demo Clients\", detail: e.message } }];\n}\n"
      },
      "id": "n-demo-clients",
      "name": "Demo Clients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Propagate upstream error\n  if (items.length === 1 && (items[0].json._error === true || items[0].json.error)) {\n    const it = items[0].json;\n    // HTTP Request node sends status code on error\n    const httpErr = it.statusCode ? `HTTP ${it.statusCode}: ${it.message || JSON.stringify(it).substring(0,200)}` : null;\n    const nestedMsg = (it.error && typeof it.error === 'object') ? (it.error.message || it.error.description || JSON.stringify(it.error).substring(0,200)) : null;\n    const errMsg = httpErr || it.message || (typeof it.error === 'string' ? it.error : nestedMsg) || it.description || 'Google Sheets error';\n    return [{ json: { _error: true, error: errMsg, step: 'GS Read Clients' } }];\n  }\n\n  const body = $('Webhook').first().json.body || $('Webhook').first().json;\n  const topic = body.topic || '';\n  const filters = body.filters || '';\n\n  // Parse GS API HTTP response: {values: [[header, cols...], [row1...], ...]}\n  // OR legacy GS node format: items is array of row objects with header keys\n  let clients = [];\n  if (items.length === 1 && items[0].json.values) {\n    // HTTP Request to Google Sheets API: response has {values: [[header],[row1],[row2],...]}\n    const rows = items[0].json.values || [];\n    if (rows.length < 2) {\n      return [{ json: { _error: true, error: 'Empty spreadsheet or no data rows', step: 'GS Read Clients' } }];\n    }\n    const headers = rows[0]; // first row = column headers\n    clients = rows.slice(1).map((row, i) => {\n      const obj = { _idx: i };\n      headers.forEach((h, j) => { obj[h] = row[j] || ''; });\n      return obj;\n    });\n  } else {\n    // Legacy GS node format: each item is one row\n    clients = items.map((item, i) => ({ _idx: i, ...item.json }));\n  }\n\n  const clientsStr = clients.map(c =>\n    `${c._idx}: Имя=${c['Имя']||c['name']||c['Name']||'?'}, Email=${c['Email']||c['email']||''}, Компания=${c['Компания']||c['company']||''}, Интересы=${c['Интересы']||c['interests']||''}`\n  ).join('\\n');\n\n  const prompt = `Ты маркетинговый ассистент. Выбери клиентов из списка, наиболее подходящих для кампании на тему: \"${topic}\".\n${filters ? `Дополнительные критерии: ${filters}` : ''}\nСписок клиентов:\n${clientsStr}\n\nВерни ТОЛЬКО валидный JSON (без комментариев):\n{\n  \"selected_indices\": [0, 2, 5],\n  \"subject\": \" {topic}\"\n  \"template\": \"Уважаемая(ый) {name}!\\\\n\\\\nМы рады предложить Вам...\"\n}\n\nВыбери до 50 наиболее подходящих клиентов. Шаблон письма - на русском языке.`;\n\n  return [{ json: { prompt, clients, topic, filters } }];\n} catch(e) {\n  return [{ json: { _error: true, step: \"Prepare Prompt\", detail: e.message } }];\n}"
      },
      "id": "n-prepare",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        352
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "simplifyOutput": false,
        "options": {
          "temperature": 0.3
        },
        "requestOptions": {}
      },
      "id": "n-openai",
      "name": "OpenAI Select",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        960,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "MHkmfl85kwu22LT8",
          "name": "OpenAI SINTARIS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Propagate errors from Prepare Prompt (Demo Clients / GS Read Clients)\n  const prepareData = $('Prepare Prompt').first().json;\n  if (prepareData._error === true) return [{ json: prepareData }];\n\n  const item = items[0].json;\n  const allClients = prepareData.clients || [];\n\n  // Check if OpenAI node failed (onError: continueRegularOutput puts error in item.error)\n  if (item.error !== undefined && !item.choices) {\n    const errMsg = typeof item.error === 'string'\n      ? item.error\n      : (item.error && (item.error.message || item.error.description)) || 'OpenAI request failed';\n    return [{ json: { _error: true, step: \"OpenAI Select\", detail: errMsg } }];\n  }\n\n  let selected = [];\n  let template = '';\n\n  const rawData = item.data || item;\n  let parsed = typeof rawData === 'string' ? JSON.parse(rawData) : rawData;\n  let content = (parsed.choices && parsed.choices[0] && parsed.choices[0].message && parsed.choices[0].message.content)\n    ? parsed.choices[0].message.content\n    : JSON.stringify(parsed);\n\n  // Strip markdown code fences: model sometimes wraps JSON in ```json...```\n  content = content.trim();\n  if (content.startsWith('`')) {\n    content = content.replace(/^```(?:json)?\\s*\\n?/, '').replace(/\\n?```\\s*$/, '').trim();\n  }\n\n  const result = JSON.parse(content);\n  const indices = result.selected_indices || [];\n  template = result.template || '';\n  selected = indices.map(i => allClients[i]).filter(Boolean);\n\n  if (selected.length === 0) {\n    selected = allClients.slice(0, 5);\n    template = template || `\\u0423\\u0432\\u0430\\u0436\\u0430\\u0435\\u043c\\u044b\\u0439 {name}! \\u041f\\u0440\\u0438\\u0433\\u043b\\u0430\\u0448\\u0430\\u0435\\u043c \\u0432\\u0430\\u0441 \\u043f\\u0440\\u0438\\u043d\\u044f\\u0442\\u044c \\u0443\\u0447\\u0430\\u0441\\u0442\\u0438\\u0435 \\u0432 \\u043d\\u0430\\u0448\\u0435\\u0439 \\u043a\\u0430\\u043c\\u043f\\u0430\\u043d\\u0438\\u0438: ${prepareData.topic}`;\n  }\n\n  // Normalize client keys: always expose 'name' and 'email' for downstream nodes\n  selected = selected.map(c => ({\n    ...c,\n    name: c['\\u0418\\u043c\\u044f'] || c['\\u0424\\u0418\\u041e'] || c['name'] || c['Name'] || c['\\u0418\\u043c\\u044f \\u043a\\u043b\\u0438\\u0435\\u043d\\u0442\\u0430'] || '',\n    topic: prepareData.topic||'',\n    email: c['Email'] || c['email'] || c['\\u042d\\u043b\\u0435\\u043a\\u0442\\u0440\\u043e\\u043d\\u043d\\u0430\\u044f \\u043f\\u043e\\u0447\\u0442\\u0430'] || '',\n  }));\n\n  return [{ json: { clients: selected, template, count: selected.length } }];\n} catch(e) {\n  return [{ json: { _error: true, step: \"Parse Response\", detail: e.message } }];\n}"
      },
      "id": "n-parse",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json._error === true ? JSON.stringify({ error: $json.error || $json.detail || 'Workflow error', step: $json.step || 'unknown' }) : JSON.stringify({ clients: $json.clients, topic: $json.topic, template: $json.template }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "n-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1504,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "demo-check",
              "leftValue": "={{ $('Webhook').first().json.body?.demo_mode || $('Webhook').first().json?.demo_mode }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n-if-demo",
      "name": "Demo Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        288,
        320
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jQaJZA4cBS2sLtE42zpwDHMn6grvDBAqoK_8Sp6PmXA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "клиенты",
          "mode": "name"
        },
        "options": {}
      },
      "id": "n-gs-clients",
      "name": "GS Read Clients",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        496
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j36NScu4bpqsYJKT",
          "name": "Google Sheets account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jQaJZA4cBS2sLtE42zpwDHMn6grvDBAqoK_8Sp6PmXA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Шаблоны рассылки",
          "mode": "name"
        },
        "options": {}
      },
      "id": "n-gs-templates",
      "name": "GS Read Templates",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1264,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j36NScu4bpqsYJKT",
          "name": "Google Sheets account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Try to find an existing template for the topic\n  const parseData = $('Parse Response').first().json;\n  if (parseData._error) return [{ json: parseData }];\n\n  const topic = ($('Webhook').first().json.body || $('Webhook').first().json).topic || '';\n  let template = parseData.template || '';\n\n  // Look for matching template in Google Sheets \"Шаблоны рассылки\"\n  let templateRows = [];\n  try {\n    const gsResp = $('GS Read Templates').first().json;\n    if (gsResp && gsResp.values && gsResp.values.length > 1) {\n      // HTTP API format: {values: [[header,...],[row1,...],...]\n      const hdrs = gsResp.values[0];\n      templateRows = gsResp.values.slice(1).map(row => {\n        const obj = {};\n        hdrs.forEach((h, j) => { obj[h] = row[j] || ''; });\n        return obj;\n      });\n    } else {\n      templateRows = $('GS Read Templates').all().map(i => i.json);\n    }\n  } catch(e) { templateRows = []; }\n\n  const found = templateRows.find(row => {\n    const sheetTopic = row['Тема'] || row['тема'] || '';\n    return sheetTopic && topic && sheetTopic.toLowerCase().includes(topic.toLowerCase().slice(0, 20));\n  });\n\n  if (found) {\n    template = found['Шаблон'] || found['шаблон'] || template;\n  }\n\n  return [{ json: { ...parseData, topic, template } }];\n} catch(e) {\n  return [{ json: { _error: true, step: \"Merge Template\", detail: e.message } }];\n}"
      },
      "id": "n-merge-template",
      "name": "Merge Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        208
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "automata.dev2null.de",
            "content-length": "181",
            "user-agent": "python-requests/2.31.0",
            "accept-encoding": "gzip, deflate, br",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "session_id": "92cce3a8-8e1b-4cda-ab5d-f06e01a734de",
            "topic": "lr webinar am 14.04",
            "filters": "",
            "sheet_id": "1jQaJZA4cBS2sLtE42zpwDHMn6grvDBAqoK_8Sp6PmXA",
            "demo_mode": false
          },
          "webhookUrl": "https://automata.dev2null.de/webhook/taris-campaign-select",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Demo Mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Demo Mode?": {
      "main": [
        [
          {
            "node": "Demo Clients",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GS Read Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Demo Clients": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Select": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "GS Read Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS Read Clients": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS Read Templates": {
      "main": [
        [
          {
            "node": "Merge Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Template": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "versionId": "abbc0acb-7b14-47ba-a694-509ea2125e7d",
  "meta": {
    "instanceId": "3dfb6978cf3399c7fbe84fecd9e1e067da1b213285b388b68830a40c8f3b0a6a"
  },
  "id": "YF9eU2H2N3Nr4j3O",
  "tags": []
}