src/n8n/workflows/Taris - Campaign Send.json
{
  "name": "Taris - Campaign Send",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "taris-campaign-send",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n-webhook-send",
      "name": "Webhook Send",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        304
      ],
      "webhookId": "taris-campaign-send-wh"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const body = $('Webhook Send').first().json.body || $('Webhook Send').first().json;\n\n  if (!body || !Array.isArray(body.clients) || body.clients.length === 0) {\n    return [{ json: { _error: true, step: \"Expand Clients\", detail: \"No clients provided in request\" } }];\n  }\n\n  const clients = body.clients;\n  const template = body.template || '\\u0423\\u0432\\u0430\\u0436\\u0430\\u0435\\u043c\\u044b\\u0439 {name}!';\n  const topic = body.topic || '';\n  const sessionId = body.session_id || '';\n\n  const expanded = clients.map(client => {\n    // Support both Russian column names (from Google Sheets) and English fallbacks\n    const id =  client['id'] || '';\n    const name = client['\\u0418\\u043c\\u044f'] || client['name'] || client['Name'] || '';\n    const email = client['Email'] || client['email'] || '';\n    const company = client['\\u041a\\u043e\\u043c\\u043f\\u0430\\u043d\\u0438\\u044f'] || client['company'] || '';\n    const interests = client['\\u0418\\u043d\\u0442\\u0435\\u0440\\u0435\\u0441\\u044b'] || client['interests'] || '';\n    const body_text = template\n      .replace(/{name}/g, name || '\\u041a\\u043b\\u0438\\u0435\\u043d\\u0442')\n      .replace(/{company}/g, company)\n      .replace(/{interests}/g, interests);\n    return { json: { id, email, name, company, interests, body_text, topic, sessionId } };\n  }).filter(item => item.json.email);\n\n  if (expanded.length === 0) {\n    return [{ json: { _error: true, step: \"Expand Clients\", detail: \"No clients with valid email addresses\" } }];\n  }\n\n  return expanded;\n} catch(e) {\n  return [{ json: { _error: true, step: \"Expand Clients\", detail: e.message } }];\n}"
      },
      "id": "n-expand",
      "name": "Expand Clients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        304
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Expand Clients').item.json.email }}",
        "subject": "={{ $('Expand Clients').item.json.topic|| 'Приглашение на мероприятие' }}",
        "message": "={{ $json['Содержание рассылки'] }}",
        "options": {
          "appendAttribution": false,
          "senderName": "={{ $json.from_email || 'Компания Sintaris' }}"
        }
      },
      "id": "n-gmail",
      "name": "Send Email Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        768,
        304
      ],
      "webhookId": "d6ad861a-52e4-4068-a32a-8ab07eade8c0",
      "credentials": {
        "gmailOAuth2": {
          "id": "OM7qAUKDjlYrrRsI",
          "name": "Gmail account devstar"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "try {\n  const now = new Date().toISOString().replace('T', ' ').slice(0, 19);\n  let clientData = {};\n  try { clientData = $('Expand Clients').item.json || {}; } catch(e2) {}\n  if (clientData._error === true) return { json: clientData };\n  const sendError = item.json._error || item.json.error;\n  const status = sendError ? \"ERROR: \" + JSON.stringify(sendError) : \"sent\";\n  return { json: {\n     id: clientData.id,\n    Date: now,\n    Reciever: clientData.email || clientData.Email || '',\n    Name: clientData.name || '',\n    Firma: clientData.company || '',\n    Thema: clientData.topic || clientData.sessionId || '',\n    Status: status\n  }};\n} catch(err) {\n  return { json: { _error: true, step: \"Prepare Sheet Row\", detail: err.message } };\n}"
      },
      "id": "n-log-prep",
      "name": "Prepare Sheet Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "\ntry {\n  // Propagate early error from Expand Clients (single error item that survived log_row)\n  if (items.length === 1 && items[0].json._error === true) {\n    return [{ json: items[0].json }];\n  }\n\n  const sent   = items.filter(i => !i.json._send_error && !i.json._error).length;\n  const failed = items.filter(i =>  i.json._send_error ||  i.json._error).length;\n  const total  = items.length;\n\n  const failedEmails = items\n    .filter(i => i.json._send_error || i.json._error)\n    .map(i => i.json.Email || i.json.email || '?')\n    .slice(0, 5)\n    .join(', ');\n\n  if (sent === 0 && total > 0) {\n    const firstErr = (items[0] && items[0].json._send_error) || 'All emails failed to send';\n    return [{ json: {\n      _error: true, step: \"Send Gmail\",\n      detail: `${total} email(s) failed. ${firstErr}`,\n      failed_count: total, failed_emails: failedEmails\n    }}];\n  }\n\n  return [{ json: {\n    sent_count:   sent,\n    failed_count: failed,\n    total_count:  total,\n    sheet_url:    \"https://docs.google.com/spreadsheets/d/\" + (($('Webhook Send').first().json.body || $('Webhook Send').first().json).sheet_id || '') + \"/edit#gid=0\",\n    failed_emails: failedEmails\n  }}];\n} catch(e) {\n  return [{ json: { _error: true, step: \"Summary\", detail: e.message } }];\n}\n"
      },
      "id": "n-summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json._error === true ? JSON.stringify({ error: $json.detail || \"Workflow error\", step: $json.step || \"unknown\" }) : JSON.stringify({ sent_count: $json.sent_count, failed_count: $json.failed_count, total_count: $json.total_count, sheet_url: $json.sheet_url, failed_emails: $json.failed_emails }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "n-respond-send",
      "name": "Respond Send",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1472,
        304
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Webhook Send').first().json.body.sheet_id || '1jQaJZA4cBS2sLtE42zpwDHMn6grvDBAqoK_8Sp6PmXA' }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Статус рассылок",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Клиент name": "={{ $json.name }}",
            "Клиент company": "={{ $json.company }}",
            "Содержание рассылки": "={{ $json.body_text }}",
            "Фильтр поиска": "={{ $json.topic }}",
            "Статус рассылки": "подготовлена",
            "Дата Рассылки": "={{ $now.toString() }}",
            "ID": "={{ $json.topic }} : {{ $json.id }}}}",
            "Тема рассылки": "={{ $json.topic }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Клиент name",
              "displayName": "Клиент name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Клиент company",
              "displayName": "Клиент company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Фильтр поиска",
              "displayName": "Фильтр поиска",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Тема рассылки",
              "displayName": "Тема рассылки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Содержание рассылки",
              "displayName": "Содержание рассылки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Дата Рассылки",
              "displayName": "Дата Рассылки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Статус рассылки",
              "displayName": "Статус рассылки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "gs-append-queued-001",
      "name": "GS Append Queued",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        592,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j36NScu4bpqsYJKT",
          "name": "Google Sheets account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Webhook Send').first().json.body.sheet_id || '1jQaJZA4cBS2sLtE42zpwDHMn6grvDBAqoK_8Sp6PmXA' }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Статус рассылок",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата Рассылки": "={{ $now.toString() }}",
            "Статус рассылки": "отправлено",
            "ID": "={{ $('GS Append Queued').item.json.ID }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Клиент name",
              "displayName": "Клиент name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Клиент company",
              "displayName": "Клиент company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Фильтр поиска",
              "displayName": "Фильтр поиска",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Содержание рассылки",
              "displayName": "Содержание рассылки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Дата Рассылки",
              "displayName": "Дата Рассылки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Статус рассылки",
              "displayName": "Статус рассылки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "gs-append-status-001",
      "name": "GS Append Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1104,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j36NScu4bpqsYJKT",
          "name": "Google Sheets account 3"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Webhook Send": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "automata.dev2null.de",
            "content-length": "1603",
            "user-agent": "python-requests/2.31.0",
            "accept-encoding": "gzip, deflate, br",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "session_id": "cdac8cd9-8f88-41c0-8595-596e8fd7be2f",
            "topic": "Семинар по Software Architecture и программированию систем с использованием Python",
            "clients": [
              {
                "_idx": 0,
                "row_number": 2,
                "id": 1,
                "Имя": "Stanislav",
                "Компания": "Sintaris",
                "Адрес": "",
                "Email": "stas.ulmer@gmail.com",
                "Telegram": "",
                "Телефон": "",
                "Интересы": "AI продукты, Здоровье, LR, Фитнес; AI development , AI Architecture, gpt, RAG, Python, C++, Java, Lisp, Software Architecture",
                "Комментарии": "",
                "name": "Stanislav",
                "topic": "Семинар по Software Architecture и программированию систем с использованием Python",
                "email": "stas.ulmer@gmail.com"
              }
            ],
            "template": "Уважаемый Stanislav!\n\nМы рады предложить Вам участие в нашем семинаре по Software Architecture и программированию систем с использованием Python. Это отличная возможность расширить свои знания и навыки в области разработки программного обеспечения. Мы уверены, что наш семинар будет полезен и интересен для Вас. Будем рады видеть Вас среди участников!\n\nС уважением,\nКоманда организаторов",
            "sheet_id": "1jQaJZA4cBS2sLtE42zpwDHMn6grvDBAqoK_8Sp6PmXA",
            "demo_mode": false,
            "from_email": "info@sintaris.net"
          },
          "webhookUrl": "https://automata.dev2null.de/webhook/taris-campaign-send",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook Send": {
      "main": [
        [
          {
            "node": "Expand Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Clients": {
      "main": [
        [
          {
            "node": "GS Append Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Row": {
      "main": [
        [
          {
            "node": "GS Append Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary": {
      "main": [
        [
          {
            "node": "Respond Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Gmail": {
      "main": [
        [
          {
            "node": "Prepare Sheet Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS Append Queued": {
      "main": [
        [
          {
            "node": "Send Email Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS Append Status": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "versionId": "59baabe7-3366-4298-8aa7-1cb7456c6890",
  "meta": {
    "instanceId": "3dfb6978cf3399c7fbe84fecd9e1e067da1b213285b388b68830a40c8f3b0a6a"
  },
  "id": "AjIB5izjiCunMcp6",
  "tags": []
}